.navigation {
  padding: 0 8px;
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.navigation_bar ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}

.brand_logo img{
  height: auto;
  width: 50px;
  align-items: center;
  top: 4px;
  left: 91px;
}